/* =========================================
   1. RESET & BODY
========================================= */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #0b0906;
    color: white;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}


/* =========================================
   2. INTRO SCREEN
========================================= */

#intro {
    position: fixed;
    inset: 0;
    z-index: 9999;

    background:
        radial-gradient(
            circle at center,
            rgba(91, 63, 25, 0.25),
            rgba(5, 4, 2, 0.95)
        ),
        url("images/egypt-door-bg.jpg");

    background-size: cover;
    background-position: center;
    overflow: hidden;
}


/* =========================================
   3. DOORS
========================================= */

.door {
    position: absolute;
    top: 0;

    width: 50%;
    height: 100%;
    z-index: 5;

    background:
        linear-gradient(
            90deg,
            rgba(0, 0, 0, 0.3),
            transparent,
            rgba(0, 0, 0, 0.4)
        ),;

    background-size: 200% 100%;

    border: 4px solid #8d672b;

    transition:
        transform 2.2s cubic-bezier(.77, 0, .18, 1);

    box-shadow:
        inset 0 0 80px rgba(0, 0, 0, 0.8),
        0 0 40px rgba(0, 0, 0, 0.8);
}


/* LEFT DOOR */

.door-left {
    left: 0;
    background-position: left center;
    border-right: 2px solid #c59b45;
}


/* RIGHT DOOR */

.door-right {
    right: 0;
    background-position: right center;
    border-left: 2px solid #c59b45;
}

/* =========================================
   DOOR DECORATION
========================================= */

.door-decoration {
    position: absolute;

    top: 40%;
    z-index: 20;

    font-size: 75px;
    color: #d4af37;
    opacity: 0.95;

    text-shadow:
        0 0 10px rgba(212, 175, 55, 0.8),
        0 0 25px rgba(212, 175, 55, 0.5);

    pointer-events: none;
}


/* LEFT EYE */

.door-left .door-decoration {
    right: 18%;
}


/* RIGHT EYE */

.door-right .door-decoration {
    left: 18%;
}


/* =========================================
   HIEROGLYPHS
========================================= */

.hieroglyphs {
    position: absolute;

    top: 25%;
    z-index: 20;

    font-size: 45px;
    line-height: 2;

    color: #d4af37;
    opacity: 0.9;

    text-shadow:
        0 0 8px rgba(212, 175, 55, 0.7);

    pointer-events: none;

    white-space: nowrap;
}


/* LEFT HIEROGLYPHS */

.door-left .hieroglyphs {
    right: 8%;
}


/* RIGHT HIEROGLYPHS */

.door-right .hieroglyphs {
    left: 8%;
}


/* =========================================
   MAKE IMAGE STAY BEHIND SYMBOLS
========================================= */

.door img {
    position: absolute;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    object-fit: cover;

    z-index: 1;
}


/* =========================================
   DOOR OPEN ANIMATION
========================================= */

.doors-open .door-left {
    transform: translateX(-100%);
}

.doors-open .door-right {
    transform: translateX(100%);
}

/* =========================================
   6. INTRO CONTENT
========================================= */

.intro-content {
    position: absolute;
    z-index: 10;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    width: 650px;
    max-width: 85%;

    padding: 40px;

    text-align: center;

    background: rgba(12, 9, 5, 0.55);

    border: 1px solid rgba(212, 175, 55, 0.35);

    backdrop-filter: blur(3px);

    transition:
        opacity 0.7s ease,
        transform 0.7s ease;
}


/* HIDE INTRO WHEN DOORS OPEN */

.doors-open .intro-content {
    opacity: 0;

    transform:
        translate(-50%, -50%)
        scale(1.1);
}


/* =========================================
   7. EYE OF HORUS
========================================= */

.eye {
    font-size: 75px;
    color: #d4af37;

    margin-bottom: 15px;

    animation: glow 2s infinite alternate;
}

@keyframes glow {

    from {
        text-shadow:
            0 0 5px rgba(212, 175, 55, 0.3);
    }

    to {
        text-shadow:
            0 0 30px rgba(212, 175, 55, 0.9);
    }
}


/* =========================================
   8. INTRO TEXT
========================================= */

.small-title {
    color: #d4af37;

    font-size: 12px;
    letter-spacing: 6px;

    margin-bottom: 15px;
}

.intro-content h1 {
    font-family: 'Cinzel', serif;

    font-size: 42px;
    letter-spacing: 4px;

    color: #eee4ca;

    line-height: 1.2;
}

.intro-content h1 span {
    display: block;

    color: #d4af37;

    margin-top: 5px;
}


/* GOLD LINE */

.line {
    width: 120px;
    height: 2px;

    background: #d4af37;

    margin: 25px auto;
}


/* INTRO DESCRIPTION */

.intro-text {
    max-width: 520px;

    margin: auto;

    color: #c9c0ae;

    font-size: 14px;
    line-height: 1.8;
}


/* =========================================
   9. ENTER BUTTON
========================================= */

#enterBtn {
    margin-top: 30px;

    padding: 16px 30px;

    background: transparent;

    border: 1px solid #d4af37;

    color: #d4af37;

    font-family: 'Cinzel', serif;

    font-size: 12px;
    letter-spacing: 2px;

    cursor: pointer;

    transition: 0.4s;
}

#enterBtn span {
    margin-left: 12px;
    font-size: 18px;
}

#enterBtn:hover {
    background: #d4af37;

    color: #0b0906;

    box-shadow:
        0 0 25px rgba(212, 175, 55, 0.4);
}


/* =========================================
   10. MAIN WEBSITE, MAIN-PYRAMID
========================================= */

#website {
    opacity: 0;

    transition: opacity 1.5s ease;
}

#website.website-visible {
    opacity: 1;
}

.main-pyramid{
    background-color: #f5e7c4;
}

/* =========================================
   11. HEADER
========================================= */

header {
    position: absolute;

    top: 0;
    left: 0;

    width: 100%;
    height: 85px;

    z-index: 20;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 5%;

    background: rgba(8, 6, 3, 0.85);

    border-bottom: 1px solid #7a5c2e;
}


/* LOGO */

.logo {
    display: flex;
    align-items: center;

    gap: 12px;
}

.logo-eye {
    font-size: 50px;
    color: #d4af37;
}

.logo-eye img{
    width: 100px;
}

.logo h2 {
    font-family: 'Cinzel', serif;

    font-size: 17px;
    letter-spacing: 2px;
    margin-bottom: 1px;

    color: #e5d3a5;
}

.logo small {
    color: #8e8066;

    letter-spacing: 2px;
    font-size: 8px;
}

/* nav */
nav {

    display: flex;

    gap: 28px;

}


nav a {

    color: white;

    text-decoration: none;

    font-family: "Cinzel", serif;

    font-size: 16px;

    transition: 0.3s;

}


nav a:hover {

    border-bottom:1px solid #d4af37;
    color:  #d4af37;

}


/* =========================================
   12. HERO SECTION
========================================= */

.hero {
    position: relative;

    width: 100%;
    height: calc(100vh - 85px);

    min-height: 600px;

    overflow: hidden;

    margin-bottom: 50px;
    display: flex;
    align-items: center;
}


/* =========================================
   13. BACKGROUND VIDEO, IMAGE
========================================= */

.background-video, .background-image {
    position: absolute;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    object-fit: cover;

    z-index: 0;
}


/* =========================================
   14. VIDEO OVERLAY
========================================= */

.overlay {
    position: absolute;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, 0.55);

    z-index: 1;
}

/* =========================================
   15. HERO CONTENT
========================================= */

.hero-content {
    position: relative;

    z-index: 2;

    width: 600px;

    margin-left: 10%;

     margin-top: 10%;

}


/* SUBTITLE */

.subtitle {
    color: #d4af37;

    font-size: 14px;

    letter-spacing: 8px;

    margin-bottom: 25px;
}


/* HERO HEADING */

.hero-content h1 {
    margin: 0;

    color: rgb(253, 241, 221);

    font-family: Georgia, serif;

    font-size: 82px;

    font-weight: 400;

    line-height: 0.95;

    letter-spacing: 2px;
}

.hero-content h1 span {
    display: block;

    color: #d4af37;
}


/* GOLD LINE */

.gold-line {
    width: 145px;
    height: 3px;

    background: #d4af37;

    margin: 38px 0 32px;
}


/* DESCRIPTION */

.hero-description {
    max-width: 550px;

    color: #eeeeee;

    font-size: 17px;

    line-height: 1.8;

    margin-bottom: 35px;
}

/* DESCRIPTION-PYRAMIDS */

.description{
    max-width: 500px;

    color: #e8d8b0;

    font-size: 15px;

    line-height: 1.8;

    margin-bottom: 35px;
    margin-top: 20px;    
}

/* =========================================
   16. EXPLORE BUTTON
========================================= */

.explore-btn {
    padding: 18px 35px;

    background: transparent;

    border: 1px solid white;

    color: #d4af37;

    font-size: 15px;

    letter-spacing: 3px;

    cursor: pointer;

    transition: 0.4s;
}

.explore-btn:hover {
    background: #d4af37;

    color: black;

    border-color: #d4af37;

    transform: translateY(-3px);
}


/* =========================================
   17. RESPONSIVE DESIGN
========================================= */

/* TABLET */

@media (max-width: 900px) {

    header {
        height: auto;

        padding: 15px;

        flex-direction: column;

        gap: 15px;
    }

    nav {
        gap: 15px;

        flex-wrap: wrap;

        justify-content: center;
    }

    .intro-content h1 {
        font-size: 30px;
    }

    .hero {
        height: auto;

        min-height: 650px;

        padding: 130px 8% 50px;
    }

    .hero-content {
        width: auto;

        margin-left: 0;
    }

    .hero-content h1 {
        font-size: 55px;
    }
}


/* MOBILE */

@media (max-width: 600px) {

    .intro-content {
        padding: 25px 15px;
    }

    .eye {
        font-size: 50px;
    }

    .intro-content h1 {
        font-size: 24px;

        letter-spacing: 2px;
    }

    .intro-text {
        font-size: 12px;
    }

    .door-decoration {
        font-size: 45px;
    }

    .hero {
        min-height: 600px;

        padding: 120px 6% 40px;
    }

    .hero-content h1 {
        font-size: 45px;
    }

    .subtitle {
        font-size: 11px;

        letter-spacing: 5px;
    }

    .hero-description {
        font-size: 15px;
    }

    .explore-btn {
        padding: 14px 25px;

        font-size: 13px;
    }
}


/* =========================================
   18. IMAGE FIT
========================================= */

.img-fit {
    width: 100%;
    height: 100%;
}

/* =========================================
   ADDED: KEEP DOOR SYMBOLS ABOVE IMAGES
   ========================================= */

.door {
    overflow: hidden;
}

.door img {
    position: absolute;
    inset: 0;

    width: 100%;
    height: 100%;

    object-fit: cover;
    z-index: 1;
}

.door::after {
    content: "";
    position: absolute;
    inset: 0;

    background: rgba(0, 0, 0, 0.12);
    z-index: 2;
}

.door-decoration,
.hieroglyphs {
    z-index: 5;
}


.discover {
    padding: 70px 0;
    background: #0d0b08;
}

.section-title {
    text-align: center;
    margin-bottom: 40px;
}

.section-title p {
    color: var(--gold);
    font-family: "Cinzel", serif;
    letter-spacing: 5px;
    font-size: 11px;
}

.section-title h2 {
    font-family: "Cinzel", serif;
    color: var(--cream);
    letter-spacing: 3px;
}

.title-line {
    color: var(--gold);
    margin-top: 10px;
}


/* CARDS */

.egypt-card {
    background: #110e09;
    border: 1px solid rgba(212, 164, 55, .35);
    border-radius: 5px;
    overflow: hidden;
    transition: .4s;
}

.egypt-card:hover {
    transform: translateY(-8px);
    border-color: var(--gold);
}

.card-image {
    height: 240px;
    position: relative;
}

.card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-icon {
    position: absolute;

    bottom: -27px;
    left: 50%;

    transform: translateX(-50%);

    width: 58px;
    height: 58px;

    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    background: #0c0a07;

    border: 2px solid var(--gold);

    color: var(--gold);

    font-size: 20px;
}
.card-icon:hover{
    background-color: #69521f;
}

.card-body {
    text-align: center;
    padding: 42px 25px 25px;
}

.card-body h3 {
    color: var(--gold);
    font-family: "Cinzel", serif;
    font-size: 16px;
}

.card-body p {
    color: var(--text);
    font-size: 12px;
    line-height: 1.8;
}


/* ================= WHY EGYPT ================= */

.why-egypt {
    display: grid;
    grid-template-columns: 42% 58%;
    background: #0b0906;
}

.why-image {
    min-height: 500px;
}

.why-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.why-content {
    padding: 70px 8%;
}

.why-small {
    color: var(--gold);
    font-family: "Cinzel", serif;
    letter-spacing: 4px;
    font-size: 11px;
}

.why-content h2 {
    font-family: "Cinzel", serif;
    color: var(--cream);
    font-size: 45px;
    line-height: 1.1;
    margin: 10px 0 20px;
}

.why-content h2 span {
    display: block;
}

.small-line {
    width: 60px;
    height: 2px;
    background: var(--gold);
    margin-bottom: 20px;
}

.why-description {
    color: var(--text);
    font-size: 13px;
    line-height: 1.8;
    max-width: 600px;
}


/* ================= STATS ================= */

.stats {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 35px;
}

.stat {
    text-align: center;
    border-right: 1px solid var(--border);
}

.stat:last-child {
    border: none;
}

.stat i,
.stat span {
    color: var(--gold);
    font-size: 23px;
}

.stat h3 {
    color: var(--gold);
    font-family: "Cinzel", serif;
    font-size: 23px;
    margin: 8px 0;
}

.stat p {
    color: #aaa18f;
    font-size: 10px;
}

.stat:hover{
        border-bottom:1px solid #d4af37 ;  
}

.fa-color:hover{
    color: black;
}

/* ================= FOOTER ================= */

footer {
    background: #0c0a07;
    border-top: 1px solid var(--border);
    padding-top: 55px;
}

.footer-brand {
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer-brand > span {
    color: var(--gold);
    font-size: 42px;
}

.footer-brand h3 {
    font-family: "Cinzel", serif;
    font-size: 17px;
    margin: 0;
}

.footer-brand small {
    color: var(--gold);
    font-size: 7px;
    letter-spacing: 2px;
}

.footer-brand + p {
    color: var(--text);
    font-size: 11px;
    line-height: 1.8;
    max-width: 330px;
    margin-top: 18px;
}


/* SOCIAL */

.socials {
    display: flex;
    gap: 10px;
    margin-top: 18px;
}

.socials a {
    width: 32px;
    height: 32px;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid #705723;
    border-radius: 50%;

    color: var(--gold);

    transition: .3s;
}

.socials a:hover {
    background: var(--gold);
    color: #111;
}


/* FOOTER LINKS */

footer h4 {
    color: var(--gold);
    font-family: "Cinzel", serif;
    font-size: 12px;
    letter-spacing: 2px;
    margin-bottom: 18px;
}

footer .col-lg-2 a {
    display: block;
    color: #a9a08f;
    font-size: 11px;
    margin-bottom: 9px;
    transition: .3s;
}

footer .col-lg-2 a:hover {
    color: var(--gold);
}


/* NEWSLETTER */

.newsletter {
    display: flex;
}

.newsletter input {
    width: 65%;
    padding: 12px;

    background: #0a0805;

    border: 1px solid #69521f;

    outline: none;

    color: white;

    font-size: 11px;
}

.newsletter button {
    width: 35%;

    border: none;

    background: var(--gold);

    font-size: 9px;

    font-weight: bold;
}


/* FOOTER BOTTOM */

.footer-bottom {
    margin-top: 45px;

    min-height: 55px;

    border-top: 1px solid #49391c;

    display: flex;

    align-items: center;

    justify-content: space-between;

    padding: 0 5%;

    color: #786f5e;
}

.footer-bottom span {
    color: #735a27;
    letter-spacing: 4px;
}

.footer-bottom p {
    font-size: 9px;
    margin: 0;
}

    /* CARDS */

 .card{
    padding: 0;

    border: 1px solid #c59b45;
    border-radius: 5px;
    background-color: #f5e7c4 ;
}

.card:hover{
  transform: translateY(-6px);
  box-shadow: 0 18px 34px rgba(20,15,8,0.18);
}  

.card span{
    font-family:monospace;
    font-size: 14px;
    letter-spacing: 3px;
    margin-bottom: 8px;

    color: #c59b45;
}

.card-text{
    font-family: georgia;
    font-size: 14px ;

    color: #7a5c2e;
    margin-bottom: 20px;
}
.card-title{
  font-family: 'Cinzel',serif;
  font-weight: 550;

  margin: 10px 0px;
}

.card button{
    font-size: 15px;
    padding: 5px 15px;

    border: 1px solid #22166b;
    
    color: #22166b;
    background-color: #f5e7c4;
}